requests
pandas
psycopg2-binary
python-dotenv
absl-py
aiohappyeyeballs
aiohttp     
aiosignal     
altair
aniso8601     
annotated-types
anyio   
asttokens      
astunparse     
async
attrs
blinker
blis     
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
comm
confection
contourpy
cryptography
cycler
cymem
datasets
debugpy
decorator
dill
distlib
distro
et_xmlfile
executing
faiss-cpu
Faker
fastapi
filelock
Flask
Flask-Cors
Flask-RESTful
Flask-SQLAlchemy
flatbuffers
fonttools
fpdf
frozenlist
fsspec
gast
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
google-pasta
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
h5py
httpcore
httplib2
httpx
huggingface-hub
idna
inflection
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_widgets
kagglehub
keras
kiwisolver
langchain
langchain-core
langchain-text-splitters
langcodes
langsmith
language_data
libclang
lxml
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
more-itertools
mpmath
multidict
multiprocess
murmurhash
namex
narwhals
Nasdaq-Data-Link
nest-asyncio
networkx
nltk
numpy
ollama
openai
openpyxl
opt_einsum
optree
orjson
packaging
pandas
parso
pdfminer.six
pdfplumber
platformdirs
plotly
preshed
prompt_toolkit
propcache
proto-plus
protobuf
psutil
psycopg2
psycopg2-binary
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
Pygments
PyMySQL
pyparsing
pypdf
PyPDF2
pypdfium2
python-dateutil
python-docx
python-dotenv
pytz
pywin32
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rsa
safetensors
schedule
scikit-learn
scipy
seaborn
secure-smtplib
sentence-transformers
setuptools
shellingham
six
slack_sdk
smart-open
smmap
sniffio
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
starlette
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow_intel
termcolor
thinc
threadpoolctl
tokenizers
toml
torch
tornado
tqdm
traitlets
transformers
typer
typing_extensions
tzdata
uritemplate
urllib3
uvicorn
virtualenv
wasabi
watchdog
wcwidth
weasel
websockets
Werkzeug
wheel
widgetsnbextension
wrapt
xgboost
xxhash
yarl
